body {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-top: 55px;
}

a, a:active, a:any-link, a:visited, a:hover {
    text-decoration: none;
    color: white;
}

*:focus {
    outline: none;
}